body {
	padding-top: 60px;
	padding-bottom: 20px;
}

h1#logo {
	font-family: kaushan-script, serif;
}

/* Container */
#projector-loader {
	background: url("../img/loader.gif") no-repeat;
	width: 16px;
	height: 16px;
   
	margin: 200px auto;
	/*position:absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;*/
}
#projector-container {
	display:none;
}

/* Tabs */
#high-tab {
	color:#CB423C;
}
#medium-tab {
	color:#F99A13;
}
#low-tab {
	color:#389FBD;
}
.nav .active {
	font-weight:bold;
	color:inherit;
}

footer {
	font-style:italic;
}