body {
	padding-top: 60px;
	padding-bottom: 20px;
}

h1#logo {
	font-family: kaushan-script, serif;
}

footer{
	font-style:italic;
}

#high-tab{
	color:#CB423C;
}
#medium-tab{
	color:#F99A13;
}
#low-tab{
	color:#389FBD;
}
.nav .active{
	font-weight:bold;
	color:inherit;
}
